button.vue-submit[disabled] {
  cursor: not-allowed;
}

.vue-submit .spinner {
  position: relative;
  border: 3.5px solid rgba(255, 255, 255, 0.5);
  border-right-color: #fff;
  border-radius: 50%;
  display: inline-block;
  width: 1.33rem;
  height: 1.33rem;
  margin-left: 0.375rem;
  vertical-align: middle;
  animation: spin 0.75s linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
